<div class="container">
  <div class="row pt-5">
    <div class="col-md-2">
      <table class="table table-bordered table-hover">
          <tr class="bg-info text-white">
            <td>ジャンル検索</td>
          </tr>
          <tr>
            <td>ケーキ</td>
          </tr>
          <tr>
            <td>ケーキ</td>
          </tr>
          <tr>
            <td>ケーキ</td>
          </tr>
          <tr>
            <td>ケーキ</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-9 offset-md-1 ml-auto position-relative">
      <div class="position-absolute text-white m-5">
        <p>ようこそ、ながのCAKEへ！</p>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p> 会員でない方も商品の閲覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>
      </div>
        <%= image_tag 'top.jpg',size: '825x500' %>
      <div>
        <h2>新着商品</h2>
        <div></div>
        <div>
          <p class="text-right"><%= link_to '全ての商品を見る', root_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>